<swiper-container slides-per-view="2" speed="500" loop="true">
  <swiper-slide>
    <div class="image"><img src="../../../assets/images/slider-1-min.jpeg" alt="Slider image (art)"></div>
  </swiper-slide>
  <swiper-slide>
    <div class="image"><img src="../../../assets/images/slider-2-min.jpeg" alt="Slider image (art)"></div>
  </swiper-slide>
  <swiper-slide>
    <div class="image"><img src="../../../assets/images/slider-3-min.jpeg" alt="Slider image (art)"></div>
  </swiper-slide>
</swiper-container>