.footer {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  background: #29304D;
  color: var(--noda-white);

  &__logo {
    display: flex;
    align-items: center;
    gap: 9.333px;
  }
}