<section class="section section--welcome welcome">
  <div class="container">
    <h2>Welcome to Noda Payment Links</h2>

    <div class="block">
      <div class="block__content">
        <p class="subtitle">Where we harness the power of AI to revolutionize the way creating payment pages</p>

        <p class="text">
          Our advanced platform combines the capabilities of <b>ChatGPT</b> for generating detailed text descriptions
          and
          <b>MidJourney</b> for selecting suitable images. With our innovative solution, you can effortlessly design and
          customize
          branded order pages for every transaction, complete with the following features
        </p>
      </div>

      <div class="block__form">
        <form [formGroup]="form" class="form" action="#">
          <div class="input-group-wrapper">
            <app-select
              [label]="'Title'"
              [options]="selectOptions"
              [errorMessage]="'Text'">
            </app-select>

            <app-input
              [label]="'E-mail'"
              [name]="'email'"
              [errorMessage]="'Error text'"
            ></app-input>

            <app-input
              [label]="'Phone number'"
              [name]="'tel'"
              [errorMessage]="'Error text'"
            ></app-input>
          </div>

          <app-custom-checkbox>
            I have Noda account
          </app-custom-checkbox>

          <button class="btn btn--primary">Start using Noda Payment links</button>
        </form>
      </div>
    </div>
  </div>
</section>