<section class="section section--welcome">
  <h2>Welcome to Noda Payment Links</h2>

  <div class="welcome-block">
    <div>
      <p>Where we harness the power of AI to revolutionize the way creating payment pages</p>

      <p>
        Our advanced platform combines the capabilities of <b>ChatGPT</b> for generating detailed text descriptions
        and
        <b>MidJourney</b> for selecting suitable images. With our innovative solution, you can effortlessly design and
        customize
        branded order pages for every transaction, complete with the following features
      </p>
    </div>

    <div class="form-wrapper">
      <form action="#">
        <input type="email" placeholder="placeholder">

        <input type="tel" placeholder="placeholder">
        <!-- <app-custom-checkbox></app-custom-checkbox> -->

        <button class="btn btn--primary">Start using Noda Payment links</button>
      </form>
    </div>
  </div>
</section>