<div class="custom-select-container">
  <label
    class="custom-select"
    [class.error]="hasError"
    [class.disabled]="disabled"
    [class.filled]="isFocused || value.length > 0"
    [class.active]="isFocused"
  >
    <div class="custom-select__label">
      {{ label }}
    </div>

    <input
      [name]="name"
      [value]="value"
      (change)="onChange($event)"
      [disabled]="disabled"
      class="custom-select__input"
      (focus)="onFocus()"
      autocomplete="off"
    >

    <svg class="custom-select__svg-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_1_14060" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <path
          d="M12.1492 15.0384L6.49536 9.38464L7.54919 8.33081L12.1492 12.9308L16.7492 8.33081L17.803 9.38464L12.1492 15.0384Z"
          fill="currentColor"
        />
      </mask>
      <g mask="url(#mask0_1_14060)">
        <rect class="arrow" width="24" height="24" fill="currentColor" />
      </g>
    </svg>
  </label>

  <div class="custom-select__dropdown" *ngIf="isFocused">
    <div *ngFor="let option of options" (click)="selectOption(option)" class="custom-select__option"
      [class.selected]="option === value">
      {{ option }}
    </div>
  </div>

  <div class="custom-select__error-message" *ngIf="hasError">
    {{ errorMessage }}
  </div>
</div>