@import '../../../mixins.scss';

.section--hero {
  $headerHeight: 80px;

  @include rwd(900) {
    $headerHeight: 68px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  height: calc(100vh - $headerHeight);
  min-height: 500px;
  padding-inline: 1rem;

  background-image: radial-gradient(rgba(0, 0, 0, 0.7) 30%, transparent), url("../../../assets/images/bg-hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--noda-white);

  h1 br {
    display: none;

    @include md {
      display: initial;
    }
  }

  p {
    color: #DDE3E9;
    font-family: 'Archivo', sans-serif;
    font-size: clamp(16px, 20px, 3vw);
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.04px;
  }
}