.section--start {
  overflow: hidden;
  padding: 100px 0;
  background: #29304d;

  .block {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 40px;
    color: var(--noda-white);

    &__content {

    }

    &__title {
      color: var(--noda-white);
    }

    &__text {
      margin-top: 8px;
    }

    &__link {
      margin-top: 40px;
    }

    .carousel {

    }
  }
}
