@import "../../../mixins.scss";

.section--start {
  background: #29304d;
  padding: 60px 0;

  @include lg {
    padding: 100px 0;
  }

  .block {
    $gap: 15px;
    $contentPadding: 30px;

    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--noda-white);

    @include md {
      $gap: 30px;
      flex-direction: row;
      height: 400px;
    }

    @include lg {
      $gap: 40px;
      margin-left: calc((100vw - 1140px) / 2);
    }

    gap: $gap;
    
    &__content {
      padding-left: $contentPadding;
      padding-right: $contentPadding;
      flex: 0 1 auto;

      @include md {
        flex: 0 1 360px;
      }

      @include rwd(900) {
        padding-right: 0;
        flex: 0 1 455px;
      }
    }

    &__title {
      color: var(--noda-white);
    }

    &__text {
      font-family: "Archivo", sans-serif;
      font-size: clamp(16px, 20px, 2vw);
      line-height: 140%;
      font-weight: 300;
      margin-top: 8px;
      margin-bottom: 40px;
    }

    &__carousel {
      height: 347px;

      @include md {
        height: auto;
        flex-grow: 1;
        width: calc(100% - 718px);
      }
    }
  }
}
