<section class="section section--start">
  <div class="block">
    <div class="block__content">
      <h2 class="block__title">Let’s start!</h2>

      <p class="block__text">
        Create customized payment pages effortlessly using our chatbot.
        Answer a few questions about your company and
        industry, and our chatbot will generate tailored payment pages
        that perfectly match your needs.
      </p>

      <app-section-link [arrowRight]="true">Create with Noda</app-section-link>
    </div>

    <div class="block__carousel">
      <app-swiper></app-swiper>
    </div>
  </div>
</section>