.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.068px;

  &:hover svg {
    color: var(--noda-color-additional-primary-light);
  }

  &.small {

  }

  &.medium .custom-checkbox__text {
    font-size: 14px;
    line-height: 120%;
  }

  &.large .custom-checkbox__text {
    font-size: 17px;
    line-height: 120%;
  }

  &__square {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 2px;
    overflow: hidden;

    svg {
      color: var(--noda-color-elements-500);
    }
  }

  .check-mark {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.active {
    .check-mark {
      display: initial;
    }

    svg {
      color: var(--noda-color-elements-primary);
      fill: var(--noda-color-elements-primary);
    }

    &:hover svg {
      color: var(--noda-color-additional-primary-light);
      fill: var(--noda-color-additional-primary-light);
    }
  }

  &.disabled {
    color: var(--noda-color-elements-300);

    &:hover {
      svg {
        color: var(--noda-color-elements-300);
        fill: var(--noda-color-bg-100);
      }
    }

    svg {
      color: var(--noda-color-elements-300);
      fill: var(--noda-color-bg-100);
    }

    &.active {
      .check-mark {
        display: initial;

        path {
          fill: var(--noda-color-elements-300);
        }
      }
    }
    
  }
}
