<label
  class="custom-checkbox"
  [class.active]="checked"
  [class.disabled]="disabled"
  >

  <input
    type="checkbox"
    [disabled]="disabled"
    [ngModel]="checked"
    (ngModelChange)="onChange($event)"
    (focus)="onFocus()"
  >

  <div class="custom-checkbox__square">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.5" y="0.5" width="19" height="19" rx="1.5" stroke="currentColor" />
    </svg>

    <svg *ngIf="checked" class="check-mark" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.08491 10.9606L3.22127 8.09697L2.26672 9.05152L6.08491 12.8697L14.2667 4.68788L13.3122 3.73334L6.08491 10.9606Z"
        fill="#FFFFFF" />
    </svg>
  </div>

  <span class="custom-checkbox__text">
    <ng-content> </ng-content>
  </span>
</label>